 .postit {    
  text-align:center;     
  width: 35%;   
  left:25%; 
  /*top: -1%;*/
  margin: 25px;    
  min-height:25%;
  /*max-height:250px;*/
  padding-top:10px;
  position:relative;   
  border:1px solid #E8E8E8;  
  /*border-top:60px solid #fdfd86;*/
  font-family:'Bradley Hand';   
  font-size:16px; 
  /*font-weight: 900;     */
  border-bottom-right-radius: 60px 15px;
  display:inline-block;    
  background: #ffff88;

  position: absolute;
  box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);


}
.postit_close{
  position: absolute;
  right: 3%;
  top: 3%;
}
.postit_txt{
  padding-top:30px;
}
.postit_title{
  padding-top:30px;
  font-weight: bolder;
  font-size:24px; 

}


.formTextArea {
  min-height: 15em;
}

.toggleTarget ,label {
  /*font-weight:500;*/
  color:#00A8C5;
}
.targets {
  display: none;
}