 .postit {    
  text-align:center;     
  width: 25%;   
  left:25%; 
  /*top: -1%;*/
  margin: 25px;    
  min-height:250px;
  /*max-height:250px;*/
  padding-top:10px;
  position:relative;   
  border:1px solid #E8E8E8;  
  /*border-top:60px solid #fdfd86;*/
  font-family:'Bradley Hand';   
  font-size:22px;      
  border-bottom-right-radius: 60px 15px;
  display:inline-block;    
  background: #ffff88;
 
  /*background: yellow;*/
   /*opacity:0.99;*/
position: absolute;
}
.postit-red  {
    background: red;  
  }
.postit-pink{
    background: 'pink';  
  }
.postit-green{
    background: green;  
  } 
.postit:after {     
   content: "";
  position:absolute;

  z-index:-1;
  right:-0px; bottom:20px;
  width:200px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
      -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
     -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
         transform: matrix(-1, -0.1, 0, 1, 0, 0);
}
.red{
/*  background: red;*/
}