<!DOCTYPE html>
<html>
<head>
  <title>AnnouncementPlan</title>
  <%= stylesheet_link_tag    "announcement_plan/application", media: "all" %>
  <%= javascript_include_tag "announcement_plan/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
